*{
    margin: 0;
    padding: 0;
}

button{
    width: 100%;
    padding: 20px 30px 20px 30px;
    border: 1px solid rgb(245, 35, 35);
    background: #512ea5;
}

body{
    background: #333;
    color: white;
    height: 100vh;
}

div{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
